.App {
  padding-left:5%;
  padding-right:5%;
}

.code {
  font-family: var(--#{$prefix}font-monospace);;
}
dt::after {
  content: ": ";
}

dt {
  font-weight: bold;
}

#creds {
  display: inline-flexbox;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media print {

  #controls,
  .footer,
  .footerarea {
      display: none;
  }
  html,
  body {
      /*changing width to 100% causes huge overflow and wrap*/
      height: 100%;
      overflow: hidden;
      background: #FFF;
      font-size: 9.5pt;
  }
  .template {
      width: auto;
      left: 0;
      top: 0;
  }
  img {
      width: 100%;
  }
  li {
      margin: 0 0 !important;
  }
}